body {
  margin: 0;
  padding: 0;
  font-family: Monaco,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #96A8C8
}

h1 {
	font-size: 25px;
}

h2 {
	font-size: 22px;
}

p {
	font-size: 11px;
}

.heart {
	height: 25%;
	width: 25%;
	vertical-align: middle;
}

.smaller {
	font-size: 9px;
	text-align: center;
}

.description {
	color: #505B6E;
}

.material-icons.md-48 {
	color: #E53935;
}