body {
  margin: 0;
  padding: 0;
  font-family: Monaco, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #96A8C8
}

h1 {
	font-size: 25px;
	color: white;
}

h2 {
	font-size: 22px;
	color: white;
	top: -10px;
}

p {
	font-size: 11px;
}

.back-arrow {
	font-size: 200%;
	padding-left: 15px;
}

.navheart {
	height: 25%;
	width: 25%;
	vertical-align: middle;
}

.heart {
	max-height: 5%;
	max-width: 5%;
	float: right;
}

.smaller {
	font-size: 9px;
	text-align: center;
}

.description {
	color: #505B6E;
}

.inactive {
	opacity: 0.25;
}
.active {
	opacity: 1.0;
}

.card {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.thumb {
  text-align: center;
}
